.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}













/*h1{
  font: size 42px;
  color:black;
  margin:0px;
  margin-bottom:30px;
}
.accordian-simple>.active{
  display:block;
}
.accordian_faq .inactive{
  display:none;
}
.accordian_faq > div{
  background-color: aliceblue;
  margin-bottom: 20px;
  padding:0px 15px;
  border-radius: 5px;
  cursor:pointer;
}
.accordian_title{
  color:aqua;
  padding-bottom: 20px;
  font-weight:500;
}
.accordian_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordian_heading .active{
  color:black;
  font-weight: 600;
}*/
