body{
  display: flex;
  justify-content:center ;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 100%;

}
.container{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  cursor: pointer;
  background-color:transparent;
              
}

h1{
  font: size 42px;
  color:rgb(46, 124, 170);
  margin:0px;
  margin-bottom:30px;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordian-simple>.active{
  display:block;
}
.accordian_faq .inactive{
  display:none;
}
.accordian_faq > div{
  background-color: aliceblue;
  margin-bottom: 20px;
  padding:0px 15px;
  border-radius: 5px;
  cursor:pointer;
}
.accordian_title{
  color:rgb(46, 124, 170);
  padding-bottom: 20px;
  font-weight:500;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordian_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordian_heading .active{
  color:black;
  font-weight: 600;
}